DJANGO_SECRET_KEY=xxx # use `openssl rand -hex 32`
APP_PORT=3000
POSTGRES_DB=app_development # seed data will go here if there is any in the override file
POSTGRES_HOST=chat
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=xxx # use `openssl rand -hex 32`
REDIS_HOST=redis
REDIS_PASSWORD=xxx # use `openssl rand -hex 32`
REDIS_PORT_NUMBER=7000
