version: "3"
services:
  app:
    command: ./docker-command.override
    volumes:
        - ./app:/home/pyuser/app:delegated
        - app_user:/home/pyuser # for bash history etc
    ports:
      - $APP_PORT:$APP_PORT  
      - 1234:1234
      - 1235:1235
  bot:
    ports: 
      - 8001:8001
    volumes:
        - ./app:/home/pyuser/app:delegated
        - app_user:/home/pyuser # for bash history etc
  pg:
    restart: unless-stopped
    ports:
      - $POSTGRES_PORT:5432
    volumes:
      - ./.pg_data:/pg_data
  redis:
    command: /opt/bitnami/scripts/redis/run.sh --maxmemory 100mb
    volumes:
      - ./.redis_data:/bitnami/redis/data
    ports:
      - "$REDIS_PORT_NUMBER:$REDIS_PORT_NUMBER"
  nginx:
    image: nginx:1.15-alpine
    restart: unless-stopped
    links:
      - app
    volumes:
      - ./.nginx:/etc/nginx/conf.d
      - ./.certbot/certs:/etc/letsencrypt
      - ./.certbot/challenge:/var/www/certbot
      - ./app/.collectstatic/static_root:/usr/share/nginx/html/static_root
      - ./app/.collectstatic/media_root:/usr/share/nginx/html/media_root
    ports:
      - "80:80"
      - "443:443"
volumes:
  app_user:
  pg_data:
  redis_data: