{% extends 'base.html' %}
{% load static %}

{% block main %}

    <div class="container-fluid chat-container" data-controller="chat" data-current-recipient="{{ selected_user_id }}">
        <header class="fixed-header">
            <button class="hamburger-btn btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                <div class="hamburger-menu">
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                    <div class="hamburger-line"></div>
                </div>
            </button>
            <a class="navbar-brand chat-name" href="{% url 'chat_default' %}">
                <h1 class="chat-name"><i class="fa fa-comments"></i>AI Chat</h1>
            </a>
        </header>
        
        <div class="offcanvas offcanvas-start " tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
            <div class="offcanvas-header d-flex justify-content-end">
                <!-- <h5 class="offcanvas-title" id="sidebarLabel">Sidebar</h5> -->
                <button id="sidebar-close" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">
                </button>
            </div>
            <div class="offcanvas-body">
                {% if not users %}
                    <div class="d-flex justify-content-center">
                        No registered bots
                    </div>
                {% endif %}
                <div id="user-list" class="list-group" data-chat-target="userList">
                    {% include 'chat/_user_list.html' %}
                </div>
                <hr/>
                <div id="profile-list" class="list-group">
                {% if user.is_authenticated %}
                    <a class="list-group-item" href="#">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        {{ user.username }}
                    </a>
                    <a class="list-group-item" href="#" data-action="click->chat#toggleTheme">
                        <i class="fa fa-user-circle" aria-hidden="true" ></i>
                        Toggle theme
                    </a>
                    <a class="list-group-item" href="{% url 'logout' %}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        Log Out
                    </a>
                {% else %}
                    <a class="list-group-item" href="{% url 'login' %}">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Log In
                    </a>
                {% endif %}
                </div>
            </div>
        </div>
        
        <div class="row chat-pane">
            <div class="col-12 d-flex flex-column">
                <div class="card flex-grow-1">
                    <div class="card-body chat-card-body">
                        {% if not selected_user_id %}
                            <div class="d-flex justify-content-center align-items-center min-vh-100">
                                <h1 class="display-4 text-muted">No Selected User</h1>
                            </div>
                        {% endif %}
                        <ul id="messages" class="messages" data-chat-target="messageList">
                            {% include 'chat/_message_list.html' %}                                
                        </ul>
                        
                    </div>
                </div>
            
                <div class="card-footer">
                    <form id="chat-form" method="post" action="{% if selected_user_id %} {% url 'chat' user_id=selected_user_id %} {% endif %}" data-action="submit->chat#submitForm" data-chat-target="chatForm">
                        {% csrf_token %}
                        <div class="input-group chat-input-row">
                            {{ form.message }}
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn" id="btn-send" {% if not selected_user_id %}Disabled{% endif %}>
                                    Send
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        let sessionKey = '{{ request.session.session_key }}';
        let currentUser = '{{ request.user.username }}';
    </script>
    
{% endblock %}
