psycopg2==2.9.5
djangorestframework==3.11.2
django-filter==2.4.0
channels==3.0.1
channels-redis==3.4.1
daphne==3.0.2
pytz==2022.7.1
Django==3.1.14
Markdown==3.2.1
openai==0.27.1
scipy==1.10.1
backoff==2.2.1



