:root {
    --brand-color: #0E1C26;
    --complementary-color-1: #0d121b;
    --complementary-color-2: #2F3A47;
    --complementary-color-3: #455260;
    --complementary-color-4: #5C6A79;
    --complementary-color-5: #0F1929;
}

.fixed-header {
    background-color: var(--complementary-color-1);
    color: var(--complementary-color-4);
}

.chat-pane {
    background-color: var(--complementary-color-2);
}

.card { 
    background-color: var(--complementary-color-2);
    overflow: hidden;
}

.chat-container {
    background-color: var(--complementary-color-2);
}

.hamburger-btn {
    background-color: var(--complementary-color-4);
    border: none;
}

.hamburger-btn:hover {
    background-color: var(--complementary-color-3);
}


li.message { 
    background: var(--complementary-color-3); 
    color: var(--complementary-color-1);
}

.message-metadata {
    color: var(--complementary-color-4); 
}

li.message:nth-child(odd) { background: var(--complementary-color-2); }

#chat-input { 
    background: var(--complementary-color-1); 
    border-color: var(--complementary-color-1);
    color: var(--complementary-color-4);
}

#chat-input:focus {
    box-shadow: none;
}

#btn-send {
    background-color: var(--complementary-color-4);
    border-color: var(--complementary-color-4);
    color: var(--complementary-color-1);
}
  
#btn-send:hover,
#btn-send:focus,
#btn-send:active {
  background-color: var(--complementary-color-3); /* Replace with your desired hover background color */
  border-color: var(--complementary-color-3); /* Replace with your desired hover border color */
}

.offcanvas { 
    background-color: var(--brand-color) !important; /* Replace with your desired hover background color */
}

.list-group-item { 
    background: var(--complementary-color-4); 
    color: var(--complementary-color-1);
}

.list-group-item.active {
    background-color: var(--complementary-color-2) !important; /* Replace with your desired hover background color */
    border-color:  var(--complementary-color-2) !important;
    color: var(--complementary-color-5);
}

.list-group-item:hover,
.list-group-item:focus,
.list-group-item:active {
  background-color: var(--complementary-color-3); /* Replace with your desired hover background color */
  border-color: var(--complementary-color-3); /* Replace with your desired hover border color */
  color: var(--complementary-color-5);
}